*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 1.05rem;
}

main{
    padding-inline: 8rem;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 8rem;
    padding-block: 3rem;
    margin: auto;
}

.title{
    font-size: 1.2rem;
    color: #000000dc;
}

span.title,.span_h2{
    color: #f47f32;
}

.header_nav{
    display: flex;
    gap: 8rem;
}

.ul_item{
    display: flex;
    gap: 3rem ;
    align-items: center;
}

li{
    color: #000000bb;
    list-style: none;
    font-weight: 500;
}

a{
    color: #000000bb;
    text-decoration: none;
    font-size: 0.8rem;
}

.header_button{
    display: flex;
    gap: 1.2rem;
}

.button_nav{
    padding-inline: 2.2rem;
    padding-block: 0.40rem;
    border-radius: 10px;
    border: 3px solid #f47f32 ;
    color: #f47f32;
    font-weight: 500; 
    background-color: #ffffff;
    font-size: 1rem;
}

.button_nav:hover{
    background-color: #f47f32;
    color: #ffffff;
    transition: 0.4s;
}

.section_home{
    display: flex;
    margin-top: 3rem;
}

.section_left{ 
    padding-top: 3rem;
    padding-left: 0.4rem;
    flex: 1;
}
.section_right{
    display: flex;
    justify-content: end;
    flex: 1;
    position: relative;
}

.explore{
    display: flex;
    align-items: center;
    color: #f47f32;
    font-weight: 600;
    gap: 0.5rem;
    font-size: 1rem;
}

.icon_aviao{
    width: 30px;
}

.traco{
    width: 45px;
}

.title_h2{
    color: #000000dc;
}

.asterisco{
    width: 45px;
    font-weight: 600; 
    position: relative;
    top: 10px;
}

.span_h2, .title_h2, .title_h3{
    font-size: 2.8rem; 
}

.title_h3{
    font-weight: 500;
    color: #000000dc ;
}

.texto{
    color: #000000d5;
    margin-top: 1.2rem;
    font-size: 0.88rem;
    max-width: 800px; 
    line-height: 1.8rem; 
    font-weight: 500;
}

.button_home_style{
    display: flex;
    gap: 1rem;
    margin-top: 4rem;
}

.button_home{
    padding-inline: 2.2rem;
    padding-block: 0.40rem;
    border-radius: 10px;
    background-color: #ffffff;
    color: #f47f32;
    border: none;
    font-size: 1.2rem; 
}

.button_home:hover{
    color: #ffffff;
    background-color: #f47f32;
    transition: 0.4s;
}

#play_demo{
    display: flex;
    padding-right: 1rem;
    padding-left: 2.6rem;
    justify-content: end;
    position: relative;
}

#play_demo>img{
    position: absolute;
    left: 2px;
    top: 5px;
    padding-right: 100%;
}


.imagem_home{
     width: 440px;
}

#planeta{
    position: absolute;
    top: 6rem;
    left: 0rem;
    padding-inline: 2rem; 
}

#verificar{
    position: absolute;
    top: 1.2rem;
    right: -2.8rem;
    padding-inline: 2rem;
}

#estrela{
    position: absolute;
    bottom: 11rem;
    right: -5.8rem;
    padding-inline: 2rem;
}

.aside_card{
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #ffffff;
    height: 4rem;
    margin: 2px;
    border-radius: 10px;
    gap: 1rem;
    box-shadow: 0px 30px 30px #0000001f;
}

.aside{
    width: 2rem; 
    height: 2rem; 
} 

.apartir{
    margin-top: 1.2rem;
    line-height: 1rem;
    font-size: 0.8rem;
    max-width: 600px; 
    line-height: 1.8rem; 
}

.card{
    color: #f47f32;
    font-weight: 600;
    line-height: 0.2rem;
    display: block;
    margin-bottom: 0.4rem;
}  

.section_dados{
    display: flex;
    justify-content: space-between;
    margin-inline: auto;
    padding-inline: 1rem;
    padding-block: 1rem;
    border: 2px solid #f47f32;
    border-radius: 20px;
    max-width: 800px;
    height: 90px;
}

.aside_dados{
    display: flex;
    width: 13rem;
    align-items: center;
    gap: 0.8rem;
}

.img_dados{
    width: 46px;
}

.dados{
    font-size: 0.8rem;
    width: 14rem;
    border-right: 2px solid #00000041;
}

.span_date{
    display: block;
    font-weight: 600;
}

.section_about{
    margin-top: 8.8rem;  
    position: relative;
    display: flex;
    gap: 2.2rem;
    justify-content: space-between;
}

.imagem{
    flex: 1;
}

.about{
    flex: 1;
    padding-block: 2rem;
}

#paisagem1{
    width: 350px;
    height: 540px;
    border-radius: 9.5rem;
}

#paisagem2{
    width: 220px;
    height: 300px;
    border-radius: 9.5rem;
    border: 10px solid #ffffff;
    position: absolute;
    left: 15.6rem;
    bottom: 0rem;   
}

.aside_about{
    display: flex;
    justify-content: space-between;
    margin-top: 2.4rem;
    
}

.div_about{
    background-color: #fefbe9;
    text-align: center;
    box-shadow: 0px 0px 18px #0000001f;
    padding-inline: 2.3rem;
    padding-block: 1rem;
    border-radius: 1rem;
}

.span_about{
    display: block;
    font-size: 1.5rem;
    font-weight: 500;
}

.section_explore{
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 8rem; 
    position: relative;
}

.explore_now{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffecde;
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 6rem;
    border-radius: 3rem;
    position: relative;
}

#title_center{
    text-align: center;
    width: 20ch;
}

#paragrafo_center{
    text-align: center;
    width: 60ch;
    margin-top: 0.4rem;
}

#procurar{
    width: 52px;
    height: 52px;
}

.section_find{
    display: flex;
    padding-inline: 1rem;
    padding-block: 1rem;
    margin-inline: auto;
    gap: 0.8rem;
    max-width: 1100px;
    height: 90px;
    position: absolute;
    bottom: -2.6rem;
    background-color: #ffffff;
    border-radius: 1.6rem;
    box-shadow: 0px 0px 40px #0000001f; 
}

#side1, #side2{
    border-right: none;
}

.carrossel{
    margin-block: 6rem;
    margin-bottom: 4rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    width: 100%;
}

#seta{
    width: 1rem;
    height: 1rem;
}

.sugestoes{
    background-color: #ececec;
    padding-inline: 2rem;
    padding-block: 0.5rem;
    border-radius: 2rem;
}

.sugestoes:hover{
    background-color: #f47f32;
    color: #ffffff;
    transition: 0.4s;
}

.section_travel{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.img_travel{
    width: 320px;
    height: 260px;
    border-radius: 1rem;
}

.carde_travel{
    border: 2px solid #00000021;
    border-radius: 1rem;
    margin-bottom: 3rem;
    padding: 0.6rem;
    position: relative;
}

.avaliar{
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    background-color: #ffffff50;
    color: #ffffff;
    border-radius: 0.8rem;
    position: absolute;
    gap: 0.2rem;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    top: 1.2rem;
    right: 1.2rem;
}

.estrela{
    width: 16px;
}

.title_travel{
    display: flex;
    justify-content: space-between;
    margin-inline: 0.4rem;
    margin-top: 0.4rem;
    padding-right: 0.6rem;
}

h4{
    font-weight: 500;
    padding-left: 0.2rem;
}

.valor{
    color: #f47f32;
    font-weight: 500;
    padding-top: 0.4rem;
    text-align: center;
}

.local{
    display: flex;
    font-size: 0.9rem;
    font-weight: 500;
    color: #000000d5;
}

.carde_travel:hover{
    box-shadow: 0px 0px 20px #0000001f;
    transition: 0.4s;
}

#viewmore{
    margin-top: 1rem;
    margin: auto;
    font-size: 1rem;
    border-radius: 2rem;
    margin-bottom: 6rem;
}

.section_testimonial{ 
    display: flex;  
    margin-bottom: 6rem; 
}

.card_testimonial{
    flex: 1;
}

.img_testimonial{
    flex: 1;
}

#organizar{
    display: flex;
    flex-direction: column;
    align-items: end;
    position: relative;
    margin-top: 4rem;
    padding-top: 6rem;
    padding-right: 2rem;
}

.comenter{
    background-color: #ececec;
    border-radius: 1.6rem;
    position: relative;
    padding-inline: 2.8rem;
    padding-top: 2.4rem;
    padding-bottom: 1rem;
    width: 26.6rem;
    height: 240px;
}

#comenter_perfil{
    display: flex;
    padding-inline: 1.6rem;
    flex-direction: column;
    justify-content: end;
    border: 2px solid #00000018;
}

#titulo_perfil{
    font-weight: 500;
}

#paragrafo_perfil{
    font-weight: 400;
    color: #000000c4;
}

#perfil-de-avaliação{
    max-width: 6rem;
    border-radius: 100%;
    position: absolute;
    top: -4rem;
    left: 1.8rem;
}

#comenter_texto{
    position: absolute;
    left: 0;
    top: 1.4rem;
    box-shadow: 0px 58px 60px #b3b3b34f; 
}

.paragrafo_comenter{
    line-height: 2rem ;
}

.avaliacao{
    margin-top: 1rem;
}

#button{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 1.4rem;
}

.ciclor{
    padding: 0.58rem;
    border-radius: 100%;
    border-style: none;
    background-color: #cecece;  
}

.ciclor:hover{
    transition: 0.2s;
    transform: scale(1.1);
    background-color: #f47f32;
}

.img_testimonial{
    padding-left: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

#img_1{
    height: 410px;
    margin-right: 14px;
    width: 154px;
    margin-bottom: 14px;
    border-radius: 0.8rem 5rem 0rem 5rem;
}

#img_2{
    height: 410px;
    width: 343px;
    border-radius: 5rem 0.8rem 0.8rem 0rem;
}

#img_3{
    height: 150px;
    margin-right: 14px;
    width: 154px;
    border-radius: 5rem 0rem 5rem 5rem;
}

#img_4{
    height: 150px;
    width: 343px;
    border-radius: 0rem 0.8rem 0.8rem 5rem;
}

#footer{
    background-color: #ffecde;
}

#infomation{
    display: flex;
    justify-content: center;
    gap: 6rem;
    padding-block: 4rem;
}

#infomation>ul>li{
    line-height: 2.6rem;
}

#infomation>ul>li>p{
    margin-top: 0.6rem;
    max-width: 17rem;
    line-height: 1.8rem;
}

#input_footer>input{
    background-color: #ffecde;
    border-style: none;
    font-size: medium;
    font-weight: 500;
}

#input_footer>input:focus{
    outline: none;
}

#button_footer{
    padding: 0.6rem;
    border-radius: 0.6rem;
    background-color: #ffecde;
    color: #adadad;
    font-weight: 500;
    border-style: none;
}

#button_footer:hover{
    background-color: #f47f32;
    transition: 0.2s;
    color: #ffffff;
}

#input_footer{
    margin-top: 1.6rem;
    padding: 0.4rem;
    border: 3px solid #adadad;
    border-radius: 1rem;
}

::-webkit-input-placeholder{
    color: #adadad;
}

#copyright{
   display: flex;
   justify-content: center;
   padding-bottom: 4rem;
}

#texto_copyright{
    font-size: smaller;
    font-weight: 500;
}